.header {
    background-color: #E554731A;
    padding: 20px;

    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 30px;
    font-weight: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn {
    background-color: #E55473;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 20px 43px;
}

.immg {
    width: 635px;
    height: 800px;
}


.flowers {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: hsl(0, 0%, 15%);
    margin-top: 68px;
}

.rectangleflower1 {
    background-color: #A7216226;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: normal;


}

.rectangleflower2 {
    background-color: #0597A026;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    display: flex;
}


.rectangleflower3 {
    background-color: #477D1126;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    display: flex;
}

.image {
    margin-top: 50px;
}

.flower-title {
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-weight: 80px;
    display: flex;
    text-align: center;
    justify-content: space-around;

}

.allr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 80px;
}

.Deal {
    background-color: #E554730D;
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.btns {
    background-color: #E55473;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 20px 43px;

}

.ins {
    display: flex;
    justify-content: space-between;

    padding: 30px;
    list-style: none;

}

.insta {
    text-align: center;

    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 20px;
    font-weight: 80px;
    margin: 50px;

}

.latest {
    padding-top: 50px;

    align-items: center;
    text-align: center;


}

.emailbtn {

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 80px;  */
}

.emailbg {
    background-image: url(../Flower\ Asset/Rectangle9.png);
}

.form {
    display: block;
    margin-right: 20px;
    padding: 60px 60px;

}

.inp {
    border: none;
    width: 700px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
}

.footer {
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 20px;
    height: 250px;
    padding-top: 50px;
    text-align: center;
    background-color: #111010;
    color: #FFFFFFE5;
}

.pcolor {
    color: #E55473;
}